tolerations:
  - key: "node.cloudprovider.kubernetes.io/uninitialized"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"
  - operator: "Exists"

service:
  type: LoadBalancer

adminUser: admin
adminPassword: admin123

service:
  type: ClusterIP

grafana.ini:
  server:
    root_url: "%(protocol)s://%(domain)s/grafana/"
    serve_from_sub_path: true
