apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: quiz-connect
spec:
  type: NodePort
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30500
  selector:
    app: backend
