apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
  namespace: quiz-connect
spec:
  storageClassName: docker-desktop
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
