name: CI/CD Pipeline for Quiz Connect App

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend Image
        run: docker build -t delph152/quiz-connect-backend:latest -f backend/Dockerfile .

      - name: Build Frontend Image (uses config.json at runtime)
        run: docker build -t delph152/quiz-connect-frontend:latest ./quiz-connect-forge

      - name: Push Backend Image
        run: docker push delph152/quiz-connect-backend:latest

      - name: Push Frontend Image
        run: docker push delph152/quiz-connect-frontend:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push
    if: success()

    steps:
      - name: Install kubectl
        uses: azure/setup-kubectl@v4

      - name: Configure kubeconfig
        run: echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config

      - name: Apply ConfigMap
        run: kubectl apply -f k8s/frontend-configmap.yaml -n quiz-connect

      - name: Apply Deployments
        run: kubectl apply -f k8s/ -n quiz-connect

      - name: Rollout Restart
        run: kubectl rollout restart deployment frontend -n quiz-connect
