name: CI/CD Pipeline for Quiz Connect App

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: delph152/quiz-connect-backend:latest

      - name: Build and Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./quiz-connect-forge
          push: true
          tags: delph152/quiz-connect-frontend:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > ~/.kube/config
        # Tu devras copier le contenu de ton fichier .yml fourni par OVH dans ce secret GitHub

      - name: Deploy to Kubernetes (OVHcloud)
        run: |
          # Applique les changements (ConfigMaps, Secrets, PVC)
          kubectl apply -f k8s/namespace.yaml
          kubectl apply -f k8s/
          
          # Force le redémarrage des Pods pour qu'ils téléchargent la nouvelle image :latest
          kubectl rollout restart deployment/backend -n quiz-connect
          kubectl rollout restart deployment/frontend -n quiz-connect